astroid==1.4.8
dtd==1.0.3
-e git+https://gitgud.io/dtluna/pygnusocial.git@7e6e0823c81c8d003097c7ff22c72099186b31ed#egg=gnusocial
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.3
oauthlib==2.0.1
parse==1.6.6
py==1.4.31
pylint==1.6.4
pytest==3.0.5
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
wrapt==1.10.8
